<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
    <meta charset="utf-8" />
    <title>Hóa đơn | Quản lý đơn hàng</title>
    <script type="text/javascript" th:src="@{/public/js/model/OrderService.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/OrderProduct.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Order.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Staff.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/order/OrderServiceView.js}"></script>
    <script type="text/javascript">
        var oOrderServiceView = new OrderServiceView();
    </script>
    <style>
        tr > td > .row-actions {
           display:none;
        }

        tr.selected > td >  .row-actions {
            display:block !important;
        }
        .row-actions button{margin: 0 4px !important;}
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <a th:href="@{/app/common/dashboard}" class="url">SUSOPA</a> > <a href="#">Hóa đơn</a> > <a
                        href="">Quản lý đơn hàng</a>
                </div>

                <div class="col-sm-7 col-xs-7">
                    <div class="box" style="min-height:calc(100vh - 170px);">
                        <div class="box-head text-center">
                            <h2><b>QUẢN LÝ ĐƠN HÀNG</b></h2>
                        </div>
                        <div class="box-body">
                            <div class="table-content" style="padding: 10px;">
                                <table class="table table-bordered" id="Grid01">
                                    <thead>
                                        <tr>
                                            <th >STT</th>
                                            <th >Mã </th>
                                            <th >Khách hàng</th>
                                            <th >SP</th>
                                            <th >DV</th>
                                            <th >Tổng tiền</th>
                                            <th >Tiếp nhân</th>
                                            <th >Hẹn trả</th>
                                            <th >Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-5">
                    <div class="box" style="min-height:calc(100vh - 170px);">
                        <div class="box-head text-center">
                            <h2><b>DỊCH VỤ</b></h2>
                        </div>
                        <div class="box-body">
                            <div class="table-content" style="padding: 10px;">
                                <table class="table table-bordered" id="Grid02">
                                    <thead>
                                    <tr>
                                        <th >STT</th>
                                        <th>Tên dịch vụ</th>
                                        <th>Mô tả</th>
                                        <th>Người thực hiện</th>
                                        <th>Ghi chú</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

</html>