<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
    <meta charset="utf-8" />
    <title>Hóa đơn | Tạo hóa đơn</title>
    <script type="text/javascript" th:src="@{/public/js/model/Order.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Customer.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Product.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Service.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Manufac.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Color.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Size.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Material.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Vourcher.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/order/OrderView.js}"></script>
    <script type="text/javascript">
        var oOrderView = new OrderView();
    </script>
    <style>
        tr > td > .row-actions {
           display:none;
        }

        tr.selected > td >  .row-actions {
            display:block !important;
        }
        .row-actions button{margin: 0 4px !important;}
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <a th:href="@{/app/common/dashboard}" class="url">SUSOPA</a> > <a href="#">Hóa đơn</a> > <a
                        href="">Tạo hóa đơn</a>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="box-form box">
                        <div class="box-body">
                            <h4 class="form-title" id="AppTitle"></h4>
                            <div class="box-form FORM">
                                <div class="row">
                                    <div class="col-sm-10 col-xs-10">
                                        <div class="form-group">
                                            <div class="label-text">Khách hàng: </div>
                                            <select name="" id="customer"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2" style="padding-top: 20px">
                                        <div class="form-group ACTIONS">
                                            <button class="btn btn-success" id="btnAddCustomer"><i class="fa fa-plus"></i> Tạo</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-10 col-xs-10">
                                        <div class="form-group">
                                            <div class="label-text">Sản phẩm: </div>
                                            <select name="" id="product"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2" style="padding-top: 20px">
                                        <div class="form-group ACTIONS">
                                            <button class="btn btn-primary" id="btnAddProduct"><i class="fa fa-plus"></i>Thêm</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-10 col-xs-10">
                                        <div class="form-group">
                                            <div class="label-text">Dịch vụ: </div>
                                            <select name="" id="service"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2" style="padding-top: 20px">
                                        <div class="form-group ACTIONS">
                                            <button class="btn btn-primary" id="btnAddService"><i class="fa fa-plus"></i>Thêm</button>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-6">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="label-text">Hãng: </div>
                                                <select name="" id="manufac" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="label-text">Màu: </div>
                                                <select name="" id="color" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="label-text">Chất liệu: </div>
                                                <select name="" id="material" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="label-text">Size: </div>
                                                <select name="" id="size" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="label-text">Mô tả: </div>
                                                <textarea name="" class="form-control" id="description" cols="30" rows="10"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12" id="print">
                    <div class="box-form box">
                        <div class="box-body">
                            <h4 class="form-title" id="AppTitle"></h4>
                            <div class="box-form FORM">
                                <div class="row">
                                    <b>Khách hàng</b><br>
                                    <div class="col-md-12 col-sm-12 col-12">
                                        &nbsp;&nbsp;&nbsp;- Tên: <b id="customerName"></b>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-12">
                                        &nbsp;&nbsp;&nbsp;- SĐT: <b id="customerPhone"></b>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <b>Danh sách sản phẩm</b>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="table-content" style="padding: 5px;">
                                        <table class="table table-bordered" id="GridProduct">
                                            <thead>
                                                <tr>
                                                    <td style="width: 50%">Sản phẩm</td>
                                                    <td style="width: 15%">Giá</td>
                                                    <td style="width: 10%">SL</td>
                                                    <td style="width: 25%">Thành tiền</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                        </table>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <b>Danh sách dịch vụ</b>
                                </div>
                                <div class="row">
                                    <div class="table-content" style="padding: 5px;">
                                        <table class="table table-bordered" id="GridService">
                                            <thead>
                                            <tr>
                                                <td style="width: 50%">Dịch vụ</td>
                                                <td style="width: 15%">Giá</td>
                                                <td style="width: 10%">SL</td>
                                                <td style="width: 25%">Thành tiền</td>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <b>Tổng tiền dịch vụ</b>
                                </div>
                                <div class="row">
                                    <div class="table-content" style="padding: 5px;">
                                        <table class="table table-bordered" id="">
                                            <thead>
                                            <tr>
                                                <td style="width: 75%">Tổng tiền</td>
                                                <td style="text-align: right;width: 25%" id="total">0đ</td>
                                            </tr>
                                            <tr>
                                                <td>Chiết khấu (<span id="discountText"></span>)</td>
                                                <td style="text-align: right" id="discountCustomer">0đ</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="vourcher" class="form-control" placeholder="Nhập mã giảm giá">
                                                    </div>
                                                    <div class="col-sm-4 ACTIONS text-left">
                                                        <button class="btn btn-default" style="padding:6px" id="addVourcher"><i class="fa fa-ticket"></i></button>
                                                        <span class="label label-primary" style="padding: 6px" id="vourcherText"></span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right" id="discountVourcher">0đ</td>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <b>Thanh toán</b>
                                </div>
                                <div class="row">
                                    <div class="table-content" style="padding: 5px;">
                                        <table class="table table-bordered" id="">
                                            <thead>
                                            <tr>
                                                <td style="width: 75%">Tổng tiền phải thanh toán</td>
                                                <td style="text-align: right;width: 25%" id="totalAfterDiscount">0đ</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-sm-8 ACTIONS">
                                                        <input type="number" min="0" value="0" id="customerPay" class="form-control" placeholder="Khách trả">
                                                    </div>
                                                    <div class="col-sm-4 ACTIONS text-left">
                                                        <button class="btn btn-default" style="padding:6px" id="customerPayAll"><i class="fa fa-check"></i></button>
                                                    </div>
                                                </td>
                                                <td style="text-align: right" id="customerPayText">0đ</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 75%">Trả lại</td>
                                                <td style="text-align: right;width: 25%" id="return">0đ</td>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <button id="exportBill">EXPORT</button>

                                    <table class="table table-bordered" id="exportBillTable">
                                        <thead>

                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>

</body>

</html>