<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
    <meta charset="utf-8" />
    <title>Hóa đơn | Quản lý đơn hàng</title>
    <script type="text/javascript" th:src="@{/public/js/model/OrderService.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Order.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/order/OrderServiceView.js}"></script>
    <script type="text/javascript">
        var oOrderServiceView = new OrderServiceView();
    </script>
    <style>
        tr > td > .row-actions {
           display:none;
        }

        tr.selected > td >  .row-actions {
            display:block !important;
        }
        .row-actions button{margin: 0 4px !important;}
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <a th:href="@{/app/common/dashboard}" class="url">SUSOPA</a> > <a href="#">Hóa đơn</a> > <a
                        href="">Quản lý đơn hàng</a>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="box" style="min-height:calc(100vh - 170px);">
                        <div class="box-head text-center">
                            <h2><b>QUẢN LÝ ĐƠN HÀNG</b></h2>
                        </div>
                        <div class="box-body">
                            <div class="table-content" style="padding: 10px;">
                                <table class="table table-bordered" id="Grid01">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;text-align: center;">STT</th>
                                            <th style="width:15%;text-align: center;">Mã đơn hàng</th>
                                            <th >Khách hàng</th>
                                            <th style="width:10%;text-align: center;">Số sản phẩm</th>
                                            <th style="width:10%;text-align: center;">Số dịch vụ</th>
                                            <th style="width:10%;text-align: center;">Tổng tiền</th>
                                            <th style="width:10%;text-align: center;">Thời gian</th>
                                            <th style="width:10%;text-align: center;">Ngày hẹn trả</th>
                                            <th style="width:10%;text-align: center;">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Employee
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Fist Name</th>
                                    <th>Last Name</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Status</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                                    <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                    <td>Silvio</td>
                                    <td>Santos</td>
                                    <td>São Paulo</td>
                                    <td>SP</td>
                                    <td> new</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
                                </tr>
                                <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                                    <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>Dracena</td>
                                    <td>SP</td>
                                    <td> New</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3 sadasdasdasdasdas</div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>


</body>

</html>