<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<title>Song Cong Portal</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="medic, medic247" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
    <meta content="width=device-width, initial-scale=1" name="viewport" id="viewport"></meta>
    <meta content="Phần mềm quản lý phòng khám" name="description">
    <meta content="900" http-equiv="refresh">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
    <meta content="width=device-width, initial-scale=1" name="viewport" id="viewport"></meta>
    <meta content="index, follow" name="ROBOTS">

    <!-- Anmiate css -->
    <!-- End  Anmiate css -->

    <!-- Bootstrap css -->
    <link type="text/css" rel='stylesheet' th:href="@{/public/templates/medic247/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/public/templates/medic247/vendor/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/public/templates/medic247/vendor/ap8/css/style.css}">
    <!-- End Bootstrap css -->
    <!-- Fontawesome css -->
    <link type="text/css" rel='stylesheet' th:href="@{/public/templates/medic247/vendor/font-awesome/css/font-awesome.min.css}">
    <!-- End Fontawesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/public/templates/medic247/css/login.css}">
    <script type="text/javascript" th:src="@{/public/templates/medic247/vendor/jquery/jquery.2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/configs/ConfigApp.js}"></script>
    <script type="text/javascript" th:src="@{/public/libs/utils/Util.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/core/ApiHelper.js}"></script>
<script>
    var AUTH = ApiHelper.Authen;
    var DATA = ApiHelper.Data;
	$(window).ready(function () {
		var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
		link.type = 'image/x-icon';
		link.rel = 'shortcut icon';
		link.href = 'http://www.stackoverflow.com/favicon.ico';
		document.getElementsByTagName('head')[0].appendChild(link);
	})
</script>
</head>

<body>

	<div class="content">
		<!--  Menu content -->
		<div layout:fragment="content"></div>
	</div>

</body>

</html>