<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
    <meta charset="utf-8" />
    <title>Khai báo | POS Terminal Endpoint</title>
    <script type="text/javascript" th:src="@{/public/js/model/Posterminal.js?ver=20200319.003}"></script>
	<script type="text/javascript" th:src="@{/public/js/app/define/PosterminalView.js?ver=20200319.002}"></script>
	<script type="text/javascript">
		var oPosterminalView = new PosterminalView();
    </script>
    <style>

        .dropdown:hover .dropdown-menu{
            display: block !important; 
        }
        
        tr > td > .row-actions {
           display:none;
        }

        tr.selected > td >  .row-actions {
            display:block !important;
        }
        .row-actions button{margin: 0 4px !important;}
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <a th:href="@{/app/common/dashboard}" class="url">Main</a> > <a href="#">Khai báo</a> > <a href="">Điểm POS thanh toán (POS Terminal Endpoint)</a>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="box-form box">
                        <div class="box-body">
                            <h4 class="form-title" id="AppTitle"></h4>
                            <div class="box-form FORM">
                                <div class="row">
                                    <div class="form-group col-sm-3 ACTIONS" style="padding-top: 18px;">
                                        <button class="btn btn-success" id="btnAddNew"><i class="fa fa-plus"></i> Tạo mới</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="box" style="min-height:calc(100vh - 170px);">
                        <div class="box-body">
                            <div class="table-content" style="padding: 10px;">
                                <table class="table table-bordered" id="Grid01">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;text-align: center;">STT</th>
                                            <th style="width:300px;text-align: center;">Mã POS</th>
                                            <th style="text-align: center;">Tên POS</th>
                                            <th style="width:150px;text-align: center;">Địa chỉ IP</th>
                                            <th style="width:150px;text-align: center;">PORT</th>
                                            <th style="width:200px;text-align: center;">Mã máy POS</th>
                                            <th style="width:200px;text-align: center;">Ngân hàng</th>
                                            <th style="width:100px;text-align: center;">Trạng thái</th>
                                            <th style="width:200px;text-align: center;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>POS_BIDV_MV2500DS_01</td>
                                            <td>POS thanh toán BIDV tầng 1</td>
                                            <td>10.145.21.77</td>
                                            <td>8888</td>
                                            <td>MOVE2500</td>
                                            <td>Agribank</td>
                                            <td><label class="label label-success">Hoạt động</label></td>
                                            <td>
                                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                <button class="btn btn-warning"><i class="fa fa-lock"></i></button>
                                                <button class="btn btn-info"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>POS_BIDV_MV2500DS_02</td>
                                            <td>POS thanh toán BIDV tầng 2</td>
                                            <td>10.145.21.77</td>
                                            <td>8888</td>
                                            <td>MOVE2500</td>
                                            <td>Agribank</td>
                                            <td><label class="label label-warning">Khóa</label></td>
                                            <td>
                                                <button class="btn btn-warning"><i class="fa fa-lock"></i></button>
                                                <button class="btn btn-warning"><i class="fa fa-lock"></i></button>
                                                <button class="btn btn-info"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>