<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/public/js/model/Posterminal.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Sale.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/model/Histerminal.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/app/define/SaleView.js}"></script>
	<script type="text/javascript">
		var oSaleView = new SaleView();
    </script>
</head>

<body>
    <div layout:fragment="content">

        <div class="FORM box-form">
            <div class="row">
                <div class="col-xs-3">
                    <div class="label-text">Amount</div>                   
                </div>
                <div class="col-xs-4">
                    <input type="number" id="amount" class="form-control">                   
                </div>
                <div class="col-xs-1 ACTIONS">
                    <button class="btn btn-success" id="btnRun">Run</button>                   
                </div>
               
            </div>
            <br>
            
            <div class="row">
                <div class="col-xs-3">
                    <div class="label-text">Customer 1</div>                   
                </div>
                <div class="col-xs-4  ">
                    <input type="text" id="f1" class="form-control">                   
                </div>
               
            </div>
            <br>
            
            <div class="row">
                <div class="col-xs-3">
                    <div class="label-text">Customer 2</div>                   
                </div>
                <div class="col-xs-4  ">
                    <input type="text" id="f2" class="form-control">                   
                </div>
               
            </div>
            <br>
            
            <div class="row">
                <div class="col-xs-3">
                    <div class="label-text">Customer 3</div>                   
                </div>
                <div class="col-xs-4  ">
                    <input type="text" id="f3" class="form-control">                   
                </div>
               
            </div>
            <br>
            
            <div class="row">
                <div class="col-xs-3">
                    <div class="label-text">Customer 4</div>                   
                </div>
                <div class="col-xs-4  ">
                    <input type="text" id="f4" class="form-control">                   
                </div>
               
            </div>
            <br>
            
            <div class="row">
                <div class="col-xs-3">
                    <div class="label-text">Customer 5</div>                   
                </div>
                <div class="col-xs-4  ">
                    <input type="text" id="f5" class="form-control">                   
                </div>
               
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12  ">
                    <h2 class="label-text" style="font-size: large;">Message</h2>                   
                </div>
                <div class="col-xs-12  ">
                    <input type="text" class="form-control" id="message" disabled>                   
                </div>
               
            </div>
            
            <div class="row">
                <div class="col-xs-12  ">
                    <h2 class="label-text" style="font-size: large;">Result</h2>                   
                </div>
                <div class="col-xs-12  ">
                    <textarea name=""disabled id="result" class="form-control"  cols="60" rows="5"></textarea>                   
                </div>
               
            </div>
        </div>

    </div>
</body>

</html>