<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
    <meta charset="utf-8" />
    <title>Danh mục | Size</title>
    <script type="text/javascript" th:src="@{/public/js/model/Size.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/define/SizeController.js}"></script>
    <script type="text/javascript">
        var oSizeController = new SizeController();
    </script>
</head>

<body>
<div layout:fragment="content">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="box-form box" style="min-height:calc(100vh - 170px);">
                    <div class="box-body">
                        <h4 class="form-title">Thông tin size </h4>
                        <div class="box-form">
                            <div class="form-group">
                                <div class="label-text">Size: <span class="required">(*)</span></div>
                                <input type="text" id="name" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <div class="label-text">Ghi chú:</div>
                                <textarea name="" id="note" cols="30" rows="10" class="form-control"
                                          style="resize: vertical;height:60px;"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="label-text">Trạng thái:</div>
                                <select class="form-control" name="" id="status">
                                    <option value="-1">Khóa</option>
                                    <option value="1">Hoạt động</option>
                                </select>
                            </div>

                        </div>
                        <div class="center ACTIONS">
                            <button class="btn btn-info" id="btnEdit">Sửa</button>
                            <button class="btn btn-success" id="btnSave">Lưu</button>
                            <button class="btn btn-danger" id="btnDelete">Xóa</button>
                            <button class="btn btn-warning" id="btnCancel">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="box" style="min-height:calc(100vh - 170px);">
                    <div class="box-body">
                        <div class="table-connamet">
                            <table class="table footablejs" id="Grid01">
                                <thead>
                                <th style="width:20px;text-align: center;">STT</th>
                                <th>Tên</th>
                                <th>Ghi chú</th>
                                <th style="width:100px;text-align: center;">Trạng thái</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>