/*
* @ Core CSS File
* @ Author: Uoc Nguyen
* @ Fontend Developer
* @ Website: http://lamnham.com
* @ Template: Duthaovanban
*/
/*
* @Author: uocnv
* @Date:   2018-03-25 16:02:45
* @Last Modified by:   uocnv
* @Last Modified time: 2018-03-25 16:39:42
*/

hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.form-group {
    margin-bottom: 5px;
}

.border-left{
  border-left: 2px solid #153673 !important;
}

.border-top{
  border-top: 2px solid #153673 !important;
}

.borderbox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.upper {
  text-transform: uppercase;
}
.left,
.ap-left {
  float: left;
}
.right,
.ap-right {
  float: right;
}
.pointer {
  cursor: pointer;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.xdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.xo,
.ap-xo {
  overflow: hidden;
}
.full {
  width: 100%;
  height: 100%;
}
.fullw {
  width: 100%;
}
.fullh {
  height: 100%;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.cell {
  display: table-cell;
}
.table {
  display: table;
}
.invisible,
.ap-invisible {
  opacity: 0;
  filter: alpha(opacity=0);
}
.vtop {
  vertical-align: top;
}
.vcenter {
  vertical-align: middle;
}
.vbottom {
  vertical-align: bottom;
}
.f9 {
  font-size: 9px;
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.f23 {
  font-size: 23px;
}
.f24 {
  font-size: 24px;
}
.f25 {
  font-size: 25px;
}
.f26 {
  font-size: 26px;
}
.f27 {
  font-size: 27px;
}
.f28 {
  font-size: 28px;
}
.f29 {
  font-size: 29px;
}
.f30 {
  font-size: 30px;
}
.f31 {
  font-size: 31px;
}
.f32 {
  font-size: 32px;
}
.thin {
  font-weight: 300;
}
.thick {
  font-weight: 500;
}
.link {
  color: #1565C0;
  display: inline-block;
}
.link:hover {
  color: #153673;
}
.check-action {
  position: relative;
}
.check-action input {
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  position: absolute;
}
.check-action .name {
  position: relative;
  display: block;
  padding-left: 30px;
  min-height: 18px;
}
.check-action .name:before {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  font-family: "ap";
  border: 1px solid #d2d4d6;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  vertical-align: middle;
}
.check-action input:checked + .name:before {
  background: #26ad75;
  color: #fff;
  border-color: #26ad75;
  content: "\ea2b";
  font-size: 10px;
}
.check-action input[type="radio"] + .name:before {
  border-radius: 50%;
}
.check-action input[type="radio"]:checked + .name:before {
  content: "\e6c7";
  color: #26ad75;
  background: #fff;
  border-color: #26ad75;
}
.form-control {
  border-color: #d2d4d6;
}
/*--------Begin Add Font Roboto---------*/
/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#SFUFutura') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#SFUFutura') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#SFUFutura') format('svg');
  font-weight: bold;
}
/*--------End add Font Roboto---------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*--c-main---*/
.c-main {
  color: #153673 !important;
}
/*--End c-main--*/
body,
.ms-WPBody {
  font-family: "Roboto", Arial !important;
  font-size: 14px;
  line-height: normal;
  line-height: 20px;
  font-weight: normal;
  background: #f1f3f5;
  color: #3c3d40;
}
a:hover,
a:focus {
  text-decoration: none;
}
.red {
  color: red;
}
.select-custom {
  position: relative;
}
.select-custom:after {
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #777;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 10px;
  margin: auto;
  width: 0px;
  height: 0px;
  pointer-events: none;
}
.select-custom select {
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.nowarp {
  white-space: nowrap;
}
.input-icon-right {
  position: relative;
}
.input-icon-right .form-control {
  padding-right: 30px;
}
.input-icon-right .icon {
  position: absolute;
  top: 10px;
  right: 7px;
  color: #666;
}
.marb10 {
  margin-bottom: 10px;
}
.scroll-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  background-color: hsla(0, 0%, 0%, 0.5);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
  color: #fff;
  line-height: 30px;
  text-align: center;
  transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -moz-transition-transform: translate(0px, 10px);
  transition: all 0.5s ease;
  opacity: 0;
}
.scroll-top .fa {
  line-height: 40px;
  font-size: 18px;
}
.scroll-top:hover {
  background-color: #000;
  background-color: hsla(0, 0%, 0%, 0.8);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
}
.scroll-top.show {
  opacity: 1;
  transition: all 0.5s ease;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transition-transform: none;
}
.sidebar-menu {
  background: #153673;
  width: 250px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
}
.sidebar-menu .top {
  height: 60px;
  color: #fff;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 4px 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-menu .top .logo {
  display: block;
}
.sidebar-menu .top .logo img {
  max-height: 50px;
  max-width: 250px;
  display: inline-block;
}
.sidebar-menu .navbar {
  position: absolute;
  top: 60px;
  border-top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: 0px;
}
.sidebar-menu .menus > .item {
  position: relative;
}
.sidebar-menu .menus > .item > .url {
  color: #fff;
  cursor: pointer;
  padding: 12px 10px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  display: block;
  font-size: 14px;
  position: relative;
  padding-left: 40px;
  padding-right: 30px;
}
.sidebar-menu .menus > .item > .url:hover {
  opacity: 1;
}
.sidebar-menu .menus > .item:last-child .url {
  border-bottom: 0px;
}
.sidebar-menu .menus > .item .icon {
  font-size: 16px;
  width: 36px;
  height: 30px;
  top: 0px;
  left: 0px;
  margin: auto;
  bottom: 0px;
  line-height: 30px;
  text-align: center;
  position: absolute;
}
.sidebar-menu .menus > .item .down {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  bottom: 0px;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar-menu .menus > .item.active > a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-weight: bold;
}
.sidebar-menu .menus > .item.open > .url {
  background: none;
}
.sidebar-menu .menus > .item.open .down:before {
  content: "\e6b1";
}
.sidebar-menu .menus > .item.open > .dropdown-menu {
  display: block;
  transition: all 0.3s ease;
}
.sidebar-menu .dropdown-menu {
  position: relative;
  top: 0px;
  width: 100%;
  padding: 0px;
  float: none;
  box-shadow: none;
  border: none;
  margin: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.sidebar-menu .dropdown-menu > li > a {
  color: #fff;
  padding: 7px 10px;
  padding-left: 40px;
  opacity: 0.65;
}
.sidebar-menu .dropdown-menu > li:hover > a,
.sidebar-menu .dropdown-menu > li.active > a {
  background: none;
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
}
.sidebar-menu .dropdown-menu > li.active > a {
  background: rgba(255, 255, 255, 0.1);
}
.sidebar-menu .bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  color: #fff;
  padding: 10px;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .minimize-menu .sidebar-menu {
    width: 54px;
    z-index: 100;
    overflow: visible;
  }
  .minimize-menu .sidebar-menu .menus .url {
    width: 54px;
    height: 54px;
    padding-right: 0px;
  }
  .minimize-menu .sidebar-menu .menus .url .icon {
    width: 54px;
    height: 54px;
    line-height: 54px;
  }
  .minimize-menu .sidebar-menu .menus .url .down {
    display: none;
  }
  .minimize-menu .sidebar-menu .menus .url .text {
    display: none;
  }
  .minimize-menu .sidebar-menu .menus > .item:hover > .url {
    background: rgba(255, 255, 255, 0.05);
  }
  .minimize-menu .sidebar-menu .menus > .item:hover > .dropdown-menu {
    display: block;
  }
  .minimize-menu .sidebar-menu .menus > .item.open > .dropdown-menu {
    display: none;
  }
  .minimize-menu .sidebar-menu .menus > .item.open:hover > .dropdown-menu {
    display: block;
  }
  .minimize-menu .sidebar-menu .menus > .item.active .dropdown-menu {
    display: none;
  }
  .minimize-menu .sidebar-menu .menus > .item.active:hover .dropdown-menu {
    display: block;
  }
  .minimize-menu .sidebar-menu .dropdown-menu {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 200px;
    background: #1976D2;
  }
  .minimize-menu .sidebar-menu .dropdown-menu > li > a {
    padding-left: 20px;
  }
  .minimize-menu .wrapper-canvas {
    margin-left: 54px;
  }
  .minimize-menu .main-content {
    margin-left: 54px;
  }
  .minimize-menu .header {
    left: 54px;
    z-index: 101;
  }
  .minimize-menu .header .nav-icon {
    left: -54px;
    height: 60px;
    line-height: 60px;
    width: 54px;
    background: #153673;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .minimize-menu .footer {
    padding-left: 54px;
  }
  .minimize-menu .mCSB_container,
  .minimize-menu .mCustomScrollBox {
    overflow: visible;
  }
}
/*Header*/
.header {
  background: #fff;
  height: 60px;
  position: fixed;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 60px;
  border-bottom: 1px solid #d2d4d6;
  top: 0px;
  left: 250px;
  right: 0px;
  z-index: 10;
}
.header .timeclock {
  position: absolute;
  left: 80px;
  padding: 20px 0px;
  font-size: 16px;
}
.header .timeclock .icon {
  color: #999;
  margin-right: 5px;
}
.header .timeclock #DongHo {
  color: #f44336;
  font-weight: bold;
}
@media (max-width: 768px) {
  .header .timeclock {
    display: none;
  }
}
.header .nav-icon {
  position: absolute;
  top: 0px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  bottom: 0px;
  margin: auto;
  left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.header .nav-icon:hover,
.header .nav-icon.active {
  background: #0d2248;
  color: #fff;
}
@media (max-width: 768px) {
  .header .nav-icon {
    background: #153673;
    color: #fff;
  }
}
.header .header-left {
  padding: 5px 10px;
  color: #3e3e74;
}
.header .header-left .sub-title {
  font-size: 15px;
  margin-bottom: 2px;
}
.header .header-left .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.header .header-right {
  padding: 0px 10px;
}
.header .header-right .item {
  display: inline-block;
  padding: 12px 8px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  height: 55px;
}
.header .header-right .item:last-child:after {
  display: none;
}
.header .header-right .item.-user {
  padding: 5px 8px;
}
.header .header-right .item.-user:hover .dropdown-menu {
  display: block;
}
.header .header-right .item .num {
  position: absolute;
  top: -2px;
  font-size: 11px;
  height: 16px;
  border-radius: 20px;
  background: #FF673F;
  color: #fff;
  padding: 1px  2px;
  right: -8px;
  width: 22px;
  z-index: 10;
  line-height: 16px;
}
.header .header-right .item:hover .dropdown {
  display: block;
}
.header .header-right .box-search {
  position: relative;
}
.header .header-right .box-search .form-control {
  padding-right: 40px;
  box-shadow: none;
  border-radius: 2px;
  width: 40px;
  border-color: transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.header .header-right .box-search .form-control:focus {
  width: 250px;
  border-color: #20223d;
}
.header .header-right .box-search .icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  pointer-events: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.header .header-right .notify {
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
  color: #20223d;
  cursor: pointer;
}
.header .header-right .notify .status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #153673;
  position: absolute;
  top: 5px;
  right: 6px;
}
.header .header-right .user {
  padding-top: 2px;
  padding-left: 40px;
  cursor: pointer;
  padding-right: 20px;
}
.header .header-right .user .avatar {
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: 0px;
  margin: auto;
}
.header .header-right .user .username {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.header .header-right .user .username .name {
  font-weight: bold;
  margin: 0px;
}
.header .header-right .user .username .pos {
  margin: 0px;
  opacity: 0.6;
  font-size: 12px;
}
.header .header-right .user .down {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  line-height: 20px;
  margin: auto;
  bottom: 0px;
}
.header .header-right .item.-schedule:hover .schedule {
  color: #153673;
}
.header .header-right .item.-user .dropdown-menu {
  right: 0px;
  left: auto;
  top: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  display: none;
  z-index: 99;
  border-radius: 0px;
}
.header .header-right .item.-user .dropdown-menu .username {
  display: none;
}
.header .header-right .item.-user .dropdown-menu .icon {
  margin-right: 5px;
}
.header .header-right .item.-user:hover .dropdown-menu {
  display: block;
}
.header .header-right .item.-user:after {
  display: none;
}
.header .header-right .item.-info {
  padding: 17px 7px;
}
@media (max-width: 768px) {
  .header .header-right .user {
    padding-right: 0px;
  }
  .header .header-right .user .username {
    display: none;
  }
}
.menu-bottom {
  top: 0px;
  right: 0px;
  height: 45px;
  left: 0px;
  background: #fff;
  border-bottom: 1px solid #d2d4d6;
  padding-right: 120px;
  position: relative;
}
.menu-bottom .breadcrumb {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #fff;
}
.menu-bottom .item {
  display: inline-block;
  padding: 12px 10px;
  position: relative;
}
.menu-bottom .item:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 25px;
  border-right: 2px dotted #ebedf1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.menu-bottom .item:last-child:before {
  display: none;
}
.menu-bottom .title {
  font-size: 18px;
}
.menu-bottom .icon {
  margin-right: 7px;
}
.menu-bottom .datetime {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 12px 10px;
}
.menu-bottom .datetime .icon {
  color: #153673;
}
/*End Header*/
@media (max-width: 768px) {
  .menu-bottom .datetime {
    display: none;
  }
  .header .header-right .item:after {
    display: none;
  }
  .sidebar-menu {
    position: fixed;
    top: 0px;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .header {
    left: 0px;
  }
  .minimize-menu .sidebar-menu {
    left: 0%;
    visibility: visible;
    opacity: 1;
    z-index: 100;
    transition: all 0.3s ease;
  }
}
/*End Main content*/
.main-content {
  position: relative;
  margin-left: 250px;
  margin-top: 57px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  min-height: calc(100vh - 100px);
}
.main-content .content {
  padding: 20px;
}
@media (max-width: 768px) {
  .main-content {
    margin-left: 0px;
  }
}
.upload {
  position: relative;
  border: 2px dashed #e1e1e1;
  margin: 0px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.upload:hover > a {
  text-decoration: underline;
}
.upload a {
  color: #337ab7;
  font-weight: bold;
  display: block;
  height: auto;
  padding: 2px 10px;
  width: 100%;
  line-height: 1.2;
  border-radius: 0px;
  border: 0px;
}
.upload input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}
.upload > .txt {
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
  vertical-align: middle;
}
.list-check-pop {
  border: 1px solid #d2d4d6;
  padding: 10px;
  min-height: 220px;
}
.list-check-pop .item {
  margin-bottom: 10px;
}
.list-check-pop .item:last-child {
  margin-bottom: 0px;
}
.account-active {
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #26ad75;
  padding: 2px 5px;
  color: #26ad75;
}
.dashboard-statistics .box {
  padding: 15px 20px;
  position: relative;
}
.dashboard-statistics .number {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
}
.dashboard-statistics .txt {
  display: block;
  font-size: 13px;
  color: #777;
  margin-bottom: 5px;
}
.dashboard-statistics .dashboard-icon {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.3;
}
.dashboard-statistics .status {
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}
.dashboard-statistics .status.-up {
  color: #26ad75;
}
.dashboard-statistics .status.-down {
  color: #d9534f;
}
.dashboard-statistics .status .icon {
  margin-right: 2px;
}
.row {
  margin: 0px 0px;
}
.form-group-sm {
  margin-bottom: 10px;
}
[class*="col-sm-"] {
  padding: 0px 2px;
}
.FILTER,
.ACTIONS {
  /* margin-bottom: 10px !important; */
}
.FILTER .btn,
.ACTIONS .btn {
  margin: 2px 2px;
}
.FILTER:after,
.ACTIONS:after {
  content: "";
  display: block;
  clear: both;
}
.well {
  background: #fff !important;
}
.nav-tabs {
  border-bottom: 0px;
  margin-top: 10px;
}
.nav-tabs > li > a {
  padding: 7px 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-top: 3px solid #0081cb;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}
.form-controls .row {
  margin: 0px -5px;
}
.form-controls .col-xs-12 {
  padding: 0px 5px;
}
.table-content {
  background: #fff;
  overflow: auto;
}
.table-content .dropdown-menu {
  left: auto;
  right: 0px;
}
.table-content .btn {
  padding: 0px 5px;
  font-size: 16px;
  font-weight: normal;
  height: auto;
  line-height: 18px;
}
.table-content .btn-default {
  background: none;
  border: 1px solid #d2d4d6;
}
.table-detail {
  width: 100%;
}
.table-detail td {
  border: 1px solid #d2d4d6;
  padding: 7px 10px;
}
.table-detail .key {
  width: 120px;
  background: #f6f7f8;
}
@media (max-width: 480px) {
  .table-detail {
    display: block;
  }
  .table-detail tbody,
  .table-detail tr,
  .table-detail td,
  .table-detail th,
  .table-detail .key {
    width: 100%;
    display: block;
  }
  .table-detail .key {
    border-bottom: 0px;
  }
}
.Popup {
  padding: 5px !important;
}
.modal-content {
  position: relative;
  border-radius: 0px !important;
}
.modal-content .modal-title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.modal-content .close {
  position: absolute;
  font-family: ap;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 0px;
}
.modal-content .close:before {
  font-size: 14px;
  content: "\e209";
}
.modal-content .btn {
  min-width: 120px;
}
.label-text {
  font-weight: bold;
  display: block;
  /* margin-bottom: 5px; */
}
.box-form {
  margin-bottom: 5px;
}
.box-form .row {
  margin: 0px -5px;
}
.box-form .col-xs-12 {
  padding: 0px 5px;
}
.note {
  font-size: 13px;
  color: #666;
}
.form-control {
  padding: 5px 7px;
  height: 32px;
  border: 1px solid #d2d4d6;
  border-radius: 2px;
  box-shadow: none;
}
.loi-dan {
  display: table;
  width: 100%;
}
.loi-dan .label-text {
  width: 100px;
  vertical-align: bottom;
  padding-top: 5px;
}
.loi-dan .input {
  display: table-cell;
  vertical-align: bottom;
}
.loi-dan .input.-actions {
  width: 40px;
  padding-left: 10px;
}
.input-button-right {
  position: relative;
  padding-right: 40px;
}
.input-button-right .btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
.loi-dan .input.-actions .btn {
  padding: 2px 5px;
  height: auto;
}
.loi-dan .form-control {
  box-shadow: none;
  border-radius: 0px;
  border-top: 0px;
  padding: 5px 0px;
  height: auto;
  border-left: 0px;
  border-right: 0px;
  border-color: #ccc;
}
.loi-dan .form-control:focus {
  background: none;
  border: 0px;
  border-bottom: 1px solid #43A047;
}
@media (max-width: 768px) {
  .loi-dan {
    display: block;
  }
  .loi-dan .label-text {
    margin-bottom: 10px;
  }
  .loi-dan .input,
  .loi-dan .label-text {
    display: block;
  }
}
.input-right-icon {
  position: relative;
}
.input-right-icon .form-control {
  padding-right: 35px;
}
.input-right-icon .icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  opacity: 0.5;
}
.form-control {
  border-radius: 2px;
  box-shadow: none;
}
.btn {
  border-radius: 2px;
  padding: 5px 10px;
  height: 32px;
}
.top {
  margin: 10px 0px;
}
.top .input-search {
  position: relative;
}
.top .input-search .form-control {
  padding-right: 30px;
  border-radius: 2px;
  box-shadow: none;
}
.top .input-search .icon {
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  opacity: 0.7;
}
.top .btn {
  border-radius: 2px;
}
.input.-search {
  padding-right: 110px;
  position: relative;
}
.input.-search .btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
}
.nowrap {
  white-space: nowrap;
}
.info-row {
  margin-bottom: 10px;
}
.info-row .key {
  width: 120px;
  display: inline-block;
}
.info-row .value {
  font-weight: bold;
  display: inline-block;
}
.table-lskham .tabs {
  margin-bottom: 10px !important;
}
.table-lskham .tab-content {
  padding: 0px !important;
}
.table-lskham .detail {
  display: none;
}
.table-lskham td.key {
  width: 120px;
  white-space: nowrap;
}
.table-schedule .schedule-time {
  display: block;
  text-align: center;
  width: 80px;
}
.table-schedule .schedule-time .date {
  font-size: 18px;
  font-weight: bold;
  display: block;
  color: #153673;
}
.table-schedule .schedule-time .day {
  font-size: 12px;
  color: #666;
}
.table-schedule td {
  vertical-align: middle !important;
}
.table-schedule .chuyenkhoa {
  position: relative;
  padding-left: 20px;
}
.table-schedule .chuyenkhoa .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
  display: block;
}
.list-check .check-action {
  margin-bottom: 10px;
  font-size: 13px;
}
.list-check .check-action:last-child {
  margin-bottom: 0px;
}
.table-timesheets {
  width: 100%;
}
.table-timesheets th {
  vertical-align: middle !important;
}
.table-timesheets td,
.table-timesheets th {
  padding: 10px 10px;
}
.table-timesheets td {
  border-top: 1px solid #d2d4d6;
  vertical-align: top !important;
}
.table-timesheets .date {
  font-size: 13px;
  color: #666;
  font-weight: normal;
}
.table-timesheets .note {
  font-style: italic;
  margin-top: 10px;
}
.table-timesheets.todaytimesheet td,
.table-timesheets.todaytimesheet th {
  border: 1px solid #d2d4d6 !important;
}
.table-timesheets.todaytimesheet th {
  text-align: center;
  background: #f6f7f8;
}
.table-timesheets.month-timesheets {
  font-size: 12px;
}
.table-timesheets.month-timesheets td,
.table-timesheets.month-timesheets th {
  text-align: center;
  padding: 2px 0px !important;
}
.table-timesheets.month-timesheets td {
  border: 1px solid #d2d4d6 !important;
}
.table-timesheets.month-timesheets td:first-child {
  border-left: 0px !important;
}
.table-timesheets.month-timesheets th {
  color: #999;
  font-weight: normal;
  border-right: 1px solid #d2d4d6 !important;
}
.table-timesheets.month-timesheets th:last-child {
  border-right: 0px;
}
.table-timesheets.month-timesheets td.tt-right-border,
.table-timesheets.month-timesheets th.tt-right-border {
  border-right: 1px solid #80848e !important;
}
.appointments-wrap {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  border: 1px solid #eaebec;
  display: table;
  width: 100%;
}
.appointments-wrap .sidebar,
.appointments-wrap .appointment-content {
  display: table-cell;
}
.appointments-wrap .sidebar {
  width: 250px;
  padding: 10px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #d2d4d6;
}
.appointments-wrap .sidebar .head {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d4d6;
}
.appointments-wrap .appointment-content {
  padding: 20px;
}
.appointments-wrap .list-doctors .wrap {
  position: relative;
  padding: 10px 0px;
  padding-left: 50px;
  border-radius: 5px;
}
.appointments-wrap .list-doctors .wrap:hover,
.appointments-wrap .list-doctors .wrap.active {
  background: #f1f3f5;
}
.appointments-wrap .list-doctors .item {
  cursor: pointer;
  padding: 5px 0px;
  border-bottom: 1px solid #d2d4d6;
}
.appointments-wrap .list-doctors .item:last-child {
  border-bottom: 0px;
}
.appointments-wrap .list-doctors .item .avatar {
  position: absolute;
  top: 15px;
  left: 5px;
}
.appointments-wrap .list-doctors .item .doctor-name {
  font-weight: bold;
  margin-bottom: 2px;
}
.appointments-wrap .list-doctors .item .pos {
  font-size: 13px;
  color: #666;
}
.fc-button .fc-icon {
  font-family: FontAwesome;
}
.fc-button .fc-icon:after {
  display: none;
}
.fc-button.fc-prev-button .fc-icon:before {
  content: "\f104";
}
.fc-button.fc-next-button .fc-icon:before {
  content: "\f105";
}
.fc-widget-header {
  border-color: transparent;
}
.fc-widget-header .fc-day-header {
  border-color: transparent;
  color: #777;
}
.fc-day-grid-event,
.fc-event,
.fc-event-dot {
  background-color: #0288d1;
  color: #fff;
  border-radius: 0px;
  border: 0px;
}
.fc-basic-view .fc-day-number {
  color: #666;
}
.fc-basic-view a.fc-more {
  color: #1976D2;
  text-decoration: underline;
}
.fc-basic-view .fc-head td {
  border-color: transparent;
  border-bottom: 1px solid #ddd;
}
.fc-state-default.fc-corner-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.fc-state-default.fc-corner-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.fc-state-default {
  border: 1px solid #1976D2;
  background: #fff;
  color: #1976D2;
  text-shadow: none;
  box-shadow: none;
}
.fc-state-default:hover {
  background: #f6f7f8;
}
.fc-state-default.fc-state-active {
  background: #1976D2;
  color: #fff;
}
.fc-toolbar .fc-center h2 {
  font-size: 16px;
  font-weight: bold;
}
.dtr-details {
  width: 100%;
}
.dtr-details .dtr-data {
  display: inline-block;
}
table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 130px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 8px 8px;
  padding-right: 12px;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  display: inline-block;
  position: relative;
  margin-right: 7px;
  top: 0px;
  left: 0px;
}
@media (max-width: 991px) {
  .bootstrap-dialog .modal-dialog {
    width: 100%!important;
  }
}
.list-check-loaixetnghiem td {
  position: relative;
}
.list-check-loaixetnghiem .check-action {
  padding-right: 80px;
}
.list-check-loaixetnghiem .price {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 13px;
  color: #204a98;
}
.avatar {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  font-size: 11px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.avatar.-x16 {
  width: 16px;
  height: 16px;
}
.avatar.-x48 {
  width: 48px;
  height: 48px;
}
.avatar.-x64 {
  width: 64px;
  height: 64px;
}
.c-red {
  color: #f44336;
}
.c-blue {
  color: #1E88E5;
}
.c-green {
  color: #4CAF50;
}
.c-yellow {
  color: #FB8C00;
}
.form-row {
  display: table;
  width: 100%;
}
.form-cell,
.form-cell-value {
  display: table-cell;
}
.dropdown-menu {
  border-radius: 0px;
  border: 0px;
}
.dropdown-menu .icon {
  margin-right: 5px;
  color: #666;
}
.btn {
  border-radius: 2px;
  border: 0px;
  color: #3c3d40;
}
.btn:hover {
  color: #1976D2;
}
.btn-line {
  border: 1px solid #d2d4d6;
}
.btn-line:hover {
  border-color: #1976D2;
  color: #1976D2;
}
.main-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.btn-success {
  background: #26ad75 !important;
  color: #fff;
}
.btn-success:hover {
  background: #1d8359 !important;
  color: #fff;
}
.btn-default {
  background: #eaebec;
  color: #222;
  border: 0px;
  text-shadow: none !important;
}
.btn-default:hover {
  background: #d2d4d6;
  color: #222;
}
.btn-info {
  background: #247fbf !important;
  color: #fff;
}
.btn-info:hover {
  background: #1c6294 !important;
  color: #fff;
}
.btn-danger {
  background: #d9534f !important;
  color: #fff;
}
.btn-danger:hover {
  background: #c9302c !important;
  border-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.btn-warning {
  background: #efac31 !important;
  color: #fff;
}
.btn-warning:hover {
  background: #dc9411 !important;
  color: #fff;
}
.btn-primary {
  background: #247fbf !important;
  color: #fff;
}
.btn-primary:hover {
  background: #1c6294 !important;
  color: #fff;
}
.form-cell-value {
  width: 120px;
  padding: 5px 6px;
  padding-right: 10px;
  text-align: right;
}
.select2 {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  border-radius: 2px !important;
  height: 32px !important;
  border-color: #d2d4d6 !important;
}
.select2-search {
  position: relative;
}
.select2-search:before {
  content: "\e2ca";
  font-family: ap;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #666;
  font-size: 16px;
}
.select2-search input {
  padding-left: 30px !important;
}
.select2-results__option {
  border-bottom: 1px solid #eaebec;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  border-color: #90b6fd;
}
.select2-dropdown {
  border-radius: 0px;
  border: 0px;
  border: 1px solid #d2d4d6;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .form-row {
    display: block;
  }
  .form-cell {
    display: block;
  }
}
.input-button-icon {
  padding-right: 40px;
  position: relative;
}
.input-button-icon .btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
#loadingDiv {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  top: 0px;
  right: 0px;
  left: 0px;
  display: none;
  bottom: 0px;
  z-index: 1000;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  color: #0f4486;
}
#loadingDiv .img {
  height: 100px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 80px;
  background-image: url("../img/loading.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#loadingDiv .img img {
  display: inline-block;
  height: 100px;
}
#loadingDiv .text:after {
  content: "...";
  display: inline-block;
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  animation: loading 2s infinite;
}
@keyframes loading {
  0% {
    content: "";
  }
  30% {
    content: ".";
  }
  60% {
    content: "..";
  }
  90% {
    content: "...";
  }
  100% {
    content: "";
  }
}
.popup-report {
  position: fixed;
  background: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 900;
  padding-top: 0px;
  overflow: auto;
  display: none;
}
.popup-report.show {
  display: block;
}
.popup-report .iframe-container {
  height: 100%;
  width: 100%;
}
.popup-report iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}
.popup-report .btn-close {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  z-index: 10;
  font-size: 18px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px;
}
.table th,
.table td {
  border: 0px !important;
  border: 1px solid #eaebec !important;
}
.table th {
  color: #000;
}
.table td {
  padding: 4px 4px !important;
}
.table tr:nth-child(2n+2) {
  background: #f8f8f9;
}
.table tr:hover {
  background: #f3f5f7;
  cursor: pointer;
}
.table tr.selected {
  background: #50c0e2;
  color: #fff;
}
.table tr.selected td {
  color: #fff;
}
.table tr.detail {
  background: #f3f5f7;
}
.table .tabs > li > a {
  background: #fff;
}
.table .tabs > li.active > a {
  background: #f3f5f7;
}
.table .tabs > li.active > a:after {
  background: #f3f5f7;
}
.form-horizontal .form-group {
  margin-left: -5px;
  margin-right: -5px;
}
.toggle-check {
  position: relative;
  display: inline-block;
}
.toggle-check .check {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.toggle-check .text {
  width: 32px;
  height: 16px;
  border-radius: 20px;
  display: block;
  position: relative;
  border: 1px solid #d2d4d6;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.toggle-check .text:before {
  content: attr(text-off);
  position: absolute;
  top: 0px;
  left: 40px;
  font-weight: normal;
  white-space: nowrap;
  color: #666;
  font-size: 12px;
}
.toggle-check .text:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: -1px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.toggle-check .check:checked + .text {
  background: #28bb5c;
  border-color: rgba(0, 0, 0, 0.1);
}
.toggle-check .check:checked + .text:after {
  right: -1px;
  left: auto;
}
.toggle-check .check:checked + .text:before {
  content: attr(text-on);
}
.tabs {
  margin-bottom: 0px;
}
.tabs:after {
  content: "";
  display: block;
  clear: both;
}
.tabs > li {
  float: left;
  margin-left: 1px;
  /* margin-bottom: 1px; */
}
.tabs > li > a {
  display: block;
  padding: 4px 7px;
  color: #3c3d40;
  border: 1px solid #aaa;
  position: relative;
  border-bottom: none;
}
.tabs > li > a:hover {
  color: #153673;
}
.tabs > li.active > a {
  color: #fff;
  background-color: #153673;
  border-color: #153673;
}

.tab-content{
    padding: 10px;
    border: 1px solid #aaa;
    margin: 0px 1px;
    overflow: scroll;
}

.divider-gray {
  margin: 20px 0px;
  height: 1px;
  background: #eaebec;
}
.breadcrumb {
  padding: 0px;
  margin-bottom: 10px;
}
.box-report {
  background: #fff;
}
.box-report .title {
  font-size: 18px;
  color: #555;
  padding-top: 10px;
  margin-bottom: 15px;
}
.box-report .head {
  margin-bottom: 20px;
  padding: 15px 20px;
}
.box-report .btn {
  border-radius: 2px;
}
.box-report .filter .select-custom {
  display: inline-block;
  vertical-align: middle;
}
.box-report .filter .btn-default {
  border-radius: 2px;
  background-image: linear-gradient(top, #fcfcfc 0, #f8f8f8 100%);
  background-image: -webkit-linear-gradient(top, #fcfcfc 0, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, #fcfcfc 0, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(100%, #f8f8f8));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#fffcfcfc, EndColorStr=#fff8f8f8);
}
.box-report .filter .dropdown-content {
  display: inline-block;
  position: relative;
}
.box-report .filter .dropdown-content .dropdown {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  display: none;
  top: 100%;
  z-index: 100;
  margin-top: 2px;
  border: 1px solid #ddd;
  width: 320px;
  right: -50px;
  padding: 10px;
}
.box-report .filter .dropdown-content .dropdown.open {
  display: block;
}
.box-report .filter .dropdown-content .dropdown .form-control {
  padding: 3px 10px;
  height: auto;
}
.box-report .filter .dropdown-content .dropdown .btn {
  padding: 3px 10px;
}
.box-report .filter .dropdown-content .dropdown .row {
  margin: 0px -5px;
}
.box-report .filter .dropdown-content .dropdown .col-xs-12 {
  padding: 0px 5px;
}
.box-report .body {
  padding: 20px;
}
@media (max-width: 768px) {
  .table-res thead {
    display: none;
  }
  .table-res tr,
  .table-res td {
    display: block;
    text-align: left;
  }
  .table-res tr {
    border-bottom: 1px solid #ddd !important;
  }
  .table-res tr:last-child {
    border-bottom: 0px !important;
  }
  .table-res tr.total td {
    padding-left: 0px !important;
  }
  .table-res tr.total td:before {
    display: none;
  }
  .table-res tr.total td span {
    float: right;
    text-align: right;
  }
  .table-res tr td {
    border: 0px !important;
    border-bottom: 1px dotted #eee !important;
    padding-left: 100px !important;
    position: relative;
  }
  .table-res tr td:last-child {
    border-bottom: 0px !important;
  }
  .table-res tr td:before {
    position: absolute;
    top: 8px;
    left: 0px;
    content: attr(data-th) ": ";
    font-weight: bold;
    display: inline-block;
    width: 100px;
    opacity: 0.8;
  }
  .table-res tr td.id {
    display: none;
  }
  .table-res tr td.name {
    padding-left: 0px !important;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 0px !important;
  }
  .table-res tr td.name:before {
    content: "+";
    font-size: 18px;
    text-align: center;
    display: none;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    left: auto;
    font-weight: normal;
    width: 30px;
    right: 0px;
  }
}
.box {
  background: #fff;
  border-radius: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border: 1px solid #eaebec;
}
.box-legend {
  background: #fff;
  border-radius: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #eaebec;
}
.box-body {
  padding: 5px;
}
.box-head {
  padding: 10px 10px;
}
.box-head .title {
  font-size: 16px;
  font-weight: bold;
}
.box-form {
  margin-bottom: 2px;
  padding: 5px;
}
.pagination {
  margin: 0px;
}
.pagination > li > a,
.pagination > li > span {
  border-radius: 0px !important;
}
.footable-first-visible {
  white-space: nowrap;
}
.overlay-common {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 90;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}
.overlay-common.show {
  display: block;
}

.form-title {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #153673;
    margin-bottom: 10px;
}
.button-group .btn {
  margin-bottom: 7px;
  margin-right: 5px;
  min-width: 120px;
}
.btn-default {
  border: 1px solid #247fbf;
  background: none;
  color: #247fbf;
}
.btn-default:hover {
  background-color: #247fbf;
  color: #fff;
  border-color: #247fbf;
}
.marl10 {
  margin-left: 10px;
}
.marb20 {
  margin-bottom: 20px;
}
.tabs-button {
  background: #fff;
}
.tabs-button:after {
  content: "";
  display: block;
  clear: both;
}
.tabs-button > li {
  float: left;
}
.tabs-button > li > a {
  border: 1px solid #d2d4d6;
  border-left: 0px;
  display: block;
  padding: 5px 10px;
  color: #333;
}
.tabs-button > li:first-child > a {
  border-left: 1px solid #d2d4d6;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.tabs-button > li:last-child > a {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.tabs-button > li:hover > a {
  background: #f6f7f8;
}
.tabs-button > li.active > a {
  background: #1976D2;
  border-color: #1976D2;
  color: #fff;
}
.dataTable {
  margin-top: 20px;
}
.dataTables_filter {
  float: right;
}
.screen-label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.dataTables_paginate {
  float: right;
}
.dataTables_paginate .paginate_button.previous > a,
.dataTables_paginate .paginate_button.next > a {
  font-size: 0px;
  font-family: FontAwesome;
}
.dataTables_paginate .paginate_button.previous > a:before,
.dataTables_paginate .paginate_button.next > a:before {
  font-size: 14px;
  content: "";
}
.dataTables_paginate .paginate_button.previous > a:before {
  content: "\f104";
}
.dataTables_paginate .paginate_button.next > a:before {
  content: "\f105";
}
.btn-icon-right {
  position: relative;
  padding-right: 40px;
}
.btn-icon-right .icon {
  width: 30px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.bootstrap-timepicker-widget table td input {
  border: 1px solid #ddd;
  padding: 5px 10px;
  width: 50px;
}
.fooicon {
  font-size: 16px;
  font-family: ap !important;
}
.fooicon-plus:before {
  content: "\e040";
}
.fooicon-minus:before {
  content: "\e041";
}
.status {
  padding-left: 16px;
  position: relative;
  white-space: nowrap;
}
.status:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
}
.status.-dh {
  color: #F4511E;
}
.status.-dh:before {
  background: #F4511E;
}
.status.-ddl {
  color: #1E88E5;
}
.status.-ddl:before {
  background: #1E88E5;
}
.status.-dd {
  color: #43A047;
}
.status.-dd:before {
  background: #43A047;
}
.status.-lh {
  color: #607D8B;
}
.status.-lh:before {
  background: #607D8B;
}
.addnewfix {
  width: 46px;
  height: 46px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #26ad75;
  color: #fff;
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;
}
.addnewfix:hover {
  transition: all 0.3s ease;
  transform: rotate(45deg);
}
.input-group-btn .btn {
  margin: 0px !important;
}
.footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  padding: 10px 0px;
  padding-left: 250px;
  font-size: 13px;
  color: #999;
}
@media (max-width: 768px) {
  .footer {
    padding-left: 0px;
  }
}
